:host() {
    --text-color: #282828;
    --bg-color: #ffffff;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}
.app-container {
    background-color: var(--bg-color);
    background-image: url('/resource/notesbg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--text-color);
    padding: 20px;
}
.new-note {
    background-color: #FFFF99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 20px;
    height: 280px;
    width: 280px;
    border-radius: 0px;
    cursor: pointer;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.new-note:hover {
    filter: brightness(.95);
}
.new-note-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-note-icon {
    font-size: 30px;
}
.new-note-text {
    font-family: "Architects Daughter", serif;
    font-size: 22px;
    margin-left: 5px;
}
.note {
    background-color: #FFFF99;
    font-family: "Architects Daughter", serif;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    margin: 25px;
    padding: 20px 25px;
    height: 280px;
    width: 280px;
    border-radius: 0px;
    color: var(--text-color);
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.note-header {
    display: block;
    max-width: 230px;
    max-height: 40px;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
}
.note-body {
    display: block;
    max-width: 230px;
    max-height: 160px;
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
}
.note-footer {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    max-height: 40px;
}
.note-footer .footer-text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    align-self: end;
}
.note-footer .footer-actions {
    display: flex;
    justify-content: space-between;
    align-self: end;
}
.footer-actions i {
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
    align-self: end;
    justify-self: end;
}
.footer-actions i:hover {
    filter: brightness(1.4);
}
.footer-actions .disabled {
    filter: brightness(1.4);
}
.save-button {
    --slds-c-button-brand-color-background: var(--text-color);
    --slds-c-button-brand-color-background-active: var(--text-color);
    --slds-c-button-brand-color-background-hover: var(--text-color);
    --slds-c-button-brand-color-border: var(--text-color);
    --slds-c-button-brand-color-border-hover: var(--text-color);
}
.cancel-button {
    --slds-c-button-outline-brand-color-background: transparent;
    --slds-c-button-outline-brand-color-background-active: transparent;
    --slds-c-button-outline-brand-color-background-hover: transparent;
    --slds-c-button-outline-brand-color-border: var(--text-color);
    --slds-c-button-outline-brand-color-border-hover: var(--text-color);
    --slds-c-button-text-color: var(--text-color);
    --slds-c-button-text-color-active: var(--text-color);
    --slds-c-button-text-color-hover: var(--text-color);
}
.input-field {
    --slds-c-input-shadow-focus: 0;
}

@media only screen and (max-width: 700px) {
    .app-container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
  }
