.notification {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}
.notification-shared-styles {
    --slds-c-toast-text-color: #ffffff;
    --slds-c-toast-radius-border: 0px;
    --slds-c-toast-sizing-min-width: 320px;
}
.success {
    --slds-c-toast-color-background: rgb(127, 140, 141, 0.7);
}
.error {
    --slds-c-toast-color-background: rgb(220, 20, 60, 0.7);
}
.info {
    --slds-c-toast-color-background: rgb(127, 140, 141, 0.7);
}